<a href="https://colab.research.google.com/github/ips610/UML501-Machine-Learning-Course-TIET/blob/main/UML501_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/AdventureWorksCustomerData/AWCustomers.csv')
df2 = pd.read_csv('/content/drive/MyDrive/AdventureWorksCustomerData/AWSales.csv')

In [8]:
print(f'Df1 Shape: {df1.shape}')
print(f'Df2 Shape: {df2.shape}')

Df1 Shape: (18361, 24)
Df2 Shape: (18355, 3)

In [17]:
print(df1.columns)
print(df1.dtypes)
df1.head()

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')
CustomerID               int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
LastUpdated             object
dtype: object

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [15]:
print(df2.columns)
print(df2.dtypes)
df2.head()

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')
CustomerID         int64
BikeBuyer          int64
AvgMonthSpend    float64
dtype: object

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

In [22]:
# To check the NaN Values

print(df1.isna)
print()
print()
print()
print()
print()
print()
print()
print()
print()
print()
print()
print(df1.isna())

<bound method DataFrame.isna of        CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName  ...        Education      Occupation Gender  \
0          New South Wales  ...        Bachelors        Clerical      M
1         British Columbia  ...  Partial College        Clerical      M
2               California  ...        Bachelors        Clerical      F
3                  England  ...  Partial College  Skilled Manual      M
4      Nordrhein-Westfalen  ...  Partial College  Skilled Manual      M
...                    ...  ...              ...             ...    ...
18356           California  ...  Graduate Degree  Skilled Manual      F
18357      New South Wales  ...        Bachelors  Skilled Manual      F
18358               Oregon  ...  Partial College  Skilled Manual      F
18359     British Columbia  ...      High School        Clerical      F
18360           California  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

      TotalChildren  YearlyIncome  LastUpdated
0                 1         81916   2017-03-06
1                 2         81076   2017-03-06
2                 0         86387   2017-03-06
3                 2         61481   2017-03-06
4                 0         51804   2017-03-06
...             ...           ...          ...
18356             2         52953   2017-03-06
18357             0         60992   2017-03-06
18358             0         51859   2017-03-06
18359             0         87177   2017-03-06
18360             0        136856   2017-03-06

[18361 rows x 24 columns]>











       CustomerID  Title  FirstName  MiddleName  LastName  Suffix  \
0           False   True      False       False     False    True
1           False   True      False        True     False    True
2           False   True      False        True     False    True
3           False   True      False        True     False    True
4           False   True      False       False     False    True
...           ...    ...        ...         ...       ...     ...
18356       False   True      False       False     False    True
18357       False   True      False        True     False    True
18358       False   True      False        True     False    True
18359       False   True      False       False     False    True
18360       False   True      False        True     False    True

       AddressLine1  AddressLine2   City  StateProvinceName  ...  Education  \
0             False          True  False              False  ...      False
1             False          True  False              False  ...      False
2             False          True  False              False  ...      False
3             False          True  False              False  ...      False
4             False          True  False              False  ...      False
...             ...           ...    ...                ...  ...        ...
18356         False          True  False              False  ...      False
18357         False          True  False              False  ...      False
18358         False          True  False              False  ...      False
18359         False          True  False              False  ...      False
18360         False          True  False              False  ...      False

       Occupation  Gender  MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0           False   False          False          False            False
1           False   False          False          False            False
2           False   False          False          False            False
3           False   False          False          False            False
4           False   False          False          False            False
...           ...     ...            ...            ...              ...
18356       False   False          False          False            False
18357       False   False          False          False            False
18358       False   False          False          False            False
18359       False   False          False          False            False
18360       False   False          False          False            False

       NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                     False          False         False        False
1                     False          False         False        False
2                     False          False         False        False
3                     False          False         False        False
4                     False          False         False        False
...                     ...            ...           ...          ...
18356                 False          False         False        False
18357                 False          False         False        False
18358                 False          False         False        False
18359                 False          False         False        False
18360                 False          False         False        False

[18361 rows x 24 columns]

In [28]:
has_nan = df1.isna().any()
has_nan_index_title = df1[df1['Title'].isna()].index # for a particular column / feature if there is nan get that index
has_nan_index_addressline2 = df1[df1['AddressLine2'].isna()].index # for a particular column / feature if there is nan get that index
print(has_nan)
print(f'Title: {has_nan_index_title}')
print(f'Address Line 2: {has_nan_index_addressline2}')

CustomerID              False
Title                    True
FirstName               False
MiddleName               True
LastName                False
Suffix                   True
AddressLine1            False
AddressLine2             True
City                    False
StateProvinceName       False
CountryRegionName       False
PostalCode              False
PhoneNumber             False
BirthDate               False
Education               False
Occupation              False
Gender                  False
MaritalStatus           False
HomeOwnerFlag           False
NumberCarsOwned         False
NumberChildrenAtHome    False
TotalChildren           False
YearlyIncome            False
LastUpdated             False
dtype: bool
Title: Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       18351, 18352, 18353, 18354, 18355, 18356, 18357, 18358, 18359, 18360],
      dtype='int64', length=18260)
Address Line 2: Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       18351, 18352, 18353, 18354, 18355, 18356, 18357, 18358, 18359, 18360],
      dtype='int64', length=18050)

In [45]:
df1_dropped = df1.drop(['AddressLine2', 'MiddleName', 'MaritalStatus', 'TotalChildren', 'BirthDate', 'Suffix','LastUpdated', 'AddressLine1', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome'], axis=1) # Not an inplace dropping and axis = 1 means we are doing column operations

In [46]:
df1_dropped.head()

,CustomerID,Title,FirstName,LastName,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,Occupation,Gender,YearlyIncome
0,21173,NaN,Chad,Yuan,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,Clerical,M,81916
1,13249,NaN,Ryan,Perry,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,Clerical,M,81076
2,29350,NaN,Julia,Thompson,West Covina,California,United States,91791,120-555-0111,Bachelors,Clerical,F,86387
3,13503,NaN,Theodore,Gomez,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,Skilled Manual,M,61481
4,22803,NaN,Marshall,Shan,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,Skilled Manual,M,51804

In [47]:
df1_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         18361 non-null  int64
 1   Title              101 non-null    object
 2   FirstName          18361 non-null  object
 3   LastName           18361 non-null  object
 4   City               18361 non-null  object
 5   StateProvinceName  18361 non-null  object
 6   CountryRegionName  18361 non-null  object
 7   PostalCode         18361 non-null  object
 8   PhoneNumber        18361 non-null  object
 9   Education          18361 non-null  object
 10  Occupation         18361 non-null  object
 11  Gender             18361 non-null  object
 12  YearlyIncome       18361 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.8+ MB

In [48]:
df1_dropped.describe()

         CustomerID   YearlyIncome
count  18361.000000   18361.000000
mean   20241.987092   72754.779642
std     5336.332731   30686.014313
min    11000.000000   25435.000000
25%    15621.000000   53312.000000
50%    20248.000000   61851.000000
75%    24863.000000   87410.000000
max    29483.000000  139115.000000

In [49]:
df1_merged = pd.merge(df1_dropped, df2, on='CustomerID')

In [50]:
df1_merged.head()

,CustomerID,Title,FirstName,LastName,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,Occupation,Gender,YearlyIncome,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,Yuan,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,Clerical,M,81916,1,50.97
1,13249,NaN,Ryan,Perry,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,Clerical,M,81076,1,53.11
2,29350,NaN,Julia,Thompson,West Covina,California,United States,91791,120-555-0111,Bachelors,Clerical,F,86387,1,54.08
3,13503,NaN,Theodore,Gomez,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,Skilled Manual,M,61481,1,56.93
4,22803,NaN,Marshall,Shan,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,Skilled Manual,M,51804,1,55.41

In [52]:
df1_merged.shape

(18361, 15)

In [53]:
df1_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         18361 non-null  int64
 1   Title              101 non-null    object
 2   FirstName          18361 non-null  object
 3   LastName           18361 non-null  object
 4   City               18361 non-null  object
 5   StateProvinceName  18361 non-null  object
 6   CountryRegionName  18361 non-null  object
 7   PostalCode         18361 non-null  object
 8   PhoneNumber        18361 non-null  object
 9   Education          18361 non-null  object
 10  Occupation         18361 non-null  object
 11  Gender             18361 non-null  object
 12  YearlyIncome       18361 non-null  int64
 13  BikeBuyer          18361 non-null  int64
 14  AvgMonthSpend      18361 non-null  float64
dtypes: float64(1), int64(3), object(11)
memory usage: 2.1+ MB